In [15]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Conv2D,MaxPooling2D,Dense,Flatten,Dropout
from keras.optimizers import Adam
from keras.callbacks import TensorBoard

# Import the backend
from keras import backend as K

In [3]:
train_df = pd.read_csv('/Users/saurabh/Documents/PythonData/fashion-mnist_train.csv',sep=',')
test_df = pd.read_csv('/Users/saurabh/Documents/PythonData/fashion-mnist_test.csv', sep = ',')

In [4]:
train_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train_data = np.array(train_df, dtype = 'float32')

In [7]:
test_data = np.array(test_df, dtype='float32')

In [9]:
train_data

array([[2., 0., 0., ..., 0., 0., 0.],
       [9., 0., 0., ..., 0., 0., 0.],
       [6., 0., 0., ..., 0., 0., 0.],
       ...,
       [8., 0., 0., ..., 0., 0., 0.],
       [8., 0., 0., ..., 0., 0., 0.],
       [7., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [10]:
x_train = train_data[:,1:]/255

y_train = train_data[:,0]

x_test = test_data[:,1:]/255

y_test = test_data[:,0]

In [11]:
print('x_train shape:', x_train.shape)
print(x_train.shape[0], 'train samples')
print(x_test.shape[0], 'test samples')

x_train shape: (60000, 784)
60000 train samples
10000 test samples

In [18]:
# input image dimensions, from our data
img_rows, img_cols = 28, 28
num_classes = 10
epochs = 5

In [12]:
# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

In [21]:
if K.image_data_format() == 'channels_first':
    x_train = x_train.reshape(x_train.shape[0], 1, img_rows, img_cols)
    x_test = x_test.reshape(x_test.shape[0], 1, img_rows, img_cols)
    input_shape = (1, img_rows, img_cols)
else:
    x_train = x_train.reshape(x_train.shape[0], img_rows, img_cols, 1)
    x_test = x_test.reshape(x_test.shape[0], img_rows, img_cols, 1)
    input_shape = (img_rows, img_cols, 1)

In [23]:
def get_categorical_accuracy_keras(y_true, y_pred):
    return K.mean(K.equal(K.argmax(y_true, axis=1), K.argmax(y_pred, axis=1)))

In [24]:
# Building the Model
model = Sequential()
# First convolutional layer, note the specification of shape
model.add(Conv2D(32, kernel_size=(3, 3),
                 activation='relu',
                 input_shape=input_shape))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(),
              metrics=[get_categorical_accuracy_keras])

model.fit(x_train, y_train,
          batch_size=128,
          epochs=10,
          verbose=1,
          validation_data=(x_test, y_test))
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Train on 60000 samples, validate on 10000 samples
Epoch 1/10
60000/60000 [==============================] - 195s 3ms/step - loss: 0.5725 - get_categorical_accuracy_keras: 0.7920 - val_loss: 0.3507 - val_get_categorical_accuracy_keras: 0.8676
Epoch 2/10
60000/60000 [==============================] - 165s 3ms/step - loss: 0.3644 - get_categorical_accuracy_keras: 0.8693 - val_loss: 0.2832 - val_get_categorical_accuracy_keras: 0.8982
Epoch 3/10
60000/60000 [==============================] - 160s 3ms/step - loss: 0.3125 - get_categorical_accuracy_keras: 0.8881 - val_loss: 0.2547 - val_get_categorical_accuracy_keras: 0.9095
Epoch 4/10
60000/60000 [==============================] - 172s 3ms/step - loss: 0.2816 - get_categorical_accuracy_keras: 0.8995 - val_loss: 0.2419 - val_get_categorical_accuracy_keras: 0.9116
Epoch 5/10
60000/60000 [==============================] - 170s 3ms/step - loss: 0.2578 - get_categorical_accuracy_keras: 0.9077 - val_loss: 0.2247 - val_get_categorical_accuracy_keras: 0.9163
Epoch 6/10
60000/60000 [==============================] - 162s 3ms/step - loss: 0.2365 - get_categorical_accuracy_keras: 0.9142 - val_loss: 0.2293 - val_get_categorical_accuracy_keras: 0.9178
Epoch 7/10
60000/60000 [==============================] - 167s 3ms/step - loss: 0.2237 - get_categorical_accuracy_keras: 0.9208 - val_loss: 0.2134 - val_get_categorical_accuracy_keras: 0.9210
Epoch 8/10
60000/60000 [==============================] - 162s 3ms/step - loss: 0.2068 - get_categorical_accuracy_keras: 0.9252 - val_loss: 0.2041 - val_get_categorical_accuracy_keras: 0.9265
Epoch 9/10
60000/60000 [==============================] - 172s 3ms/step - loss: 0.1977 - get_categorical_accuracy_keras: 0.9292 - val_loss: 0.2004 - val_get_categorical_accuracy_keras: 0.9278
Epoch 10/10
60000/60000 [==============================] - 170s 3ms/step - loss: 0.1870 - get_categorical_accuracy_keras: 0.9329 - val_loss: 0.1990 - val_get_categorical_accuracy_keras: 0.9298
Test loss: 0.1989697130471468
Test accuracy: 0.9298